
.header {
    background:#EEEEEE;
}

.menu {
    background:#DDDDDD;
}

.header-inner {
    width:960px;
    margin:auto;
    padding:20px;
    padding-top:20px;
    padding-bottom:20px;
}

.menu-inner {
    width:960px;
    margin:auto;
}

.main-inner {
    width:1000px;
    margin:auto;
}

.menu-item {
    display:inline-block;
    padding:15px;
    padding-left:20px;
    padding-right:20px;
}

.menu-right {
    float:right;
}

.menu a:link, .menu a:visited, .menu a {
    color:white;
}

.logo {
    font-size:40px;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:15px;
}

.logo a:link, .logo a:visited, .logo a {
    color:white;
}