
@font-face {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 300;
    src: url(https://themes.googleusercontent.com/static/fonts/opensanscondensed/v6/gk5FxslNkTTHtojXrkp-xGAzD5WKQVN4wSyA0MYYi4rr7w4p9aSvGirXi6XmeXNA.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 700;
    src: url(http://themes.googleusercontent.com/static/fonts/opensanscondensed/v6/gk5FxslNkTTHtojXrkp-xM6Eyu0BCqAfob_z3hhzRFzr7w4p9aSvGirXi6XmeXNA.woff) format('woff');
}

.forum-category, .forum-topics {
    border:1px solid #DDDDDD;
    border-bottom:4px solid #DDDDDD;
    padding-bottom:10px;
    margin-bottom:10px;
}

.forum-category h2, .forum-topics h2 {
    font-size:large;
    background:#EEEEEE;
    border-bottom:2px solid #DDDDDD;
    padding:10px;
    margin:0px;
    margin-bottom:5px;
    padding-left:20px;
}

.forum-forum, forum-topics-topic {
    padding-left:20px;
    padding-right:20px;
}

.forum-forum a:link, .forum-forum a:visited, .forum-forum a {
    color:black;
}

.forum-topics-topic a:link, .forum-topics-topic a:visited, .forum-topics-topic a {
    color:black;
}

.forum-forum-inner, .forum-topics-topic-inner {
    padding:10px;
}

.forum-forum img {
    float:left;
    width:48px;
    height:48px;
    margin-right:15px;
    margin-top:10px;
}

.forum-header h2 {
    text-transform:uppercase;
    color:#333333;
    padding:10px;
    font-size:x-large;
    font-family:Open Sans Condensed;
    font-weight:700;
}

.forum-header a {
    font-size:small;
    vertical-align:bottom;
    margin-left:10px;
    font-family:sans-serif;
}

.forum-topics-empty-notice {
    font-size:x-large;
    padding:40px;
    text-align:center;
    color:#444444;
}

.forum-topics-button {
    float:right;
    padding:10px;
    padding-right:20px;
}

.forum-topics-inner-create {
    padding:20px;
}

.forum-topics-topic-name {
    font-weight:bold;
    font-size:large;
}

.forum-topics-topic-info {
    font-size:small;
}

.forum-topics-topic-inner {
    padding-left:20px;
}

.forum-topics-topic-avatar {
    margin-right:10px;
    border:1px solid #AAAAAA;
    border-bottom:2px solid #AAAAAA;
}

.forum-topics-topic-avatar, .forum-topics-topic-details {
    display:inline-block;
    vertical-align:middle;
}

.forum-topics-topic a:link, .forum-topics-topic a:visited, .forum-topics-topic a {
    color:black;
}

.forum-topic-options {
    float:right;
    padding:10px;
}

.forum-topic-option {
    display:inline-block;
    text-transform:uppercase;
}

div.forum-topic-option a {
    font-size:small;
}

.forum-topics-topic-last {
    float:right;
    font-size:small;
    line-height:1.5em;
    padding:5px;
    width:250px;
    display:inline-block;
}

.forum-topics-topic-replies {
    float:right;
    font-size:xx-large;
    display:inline-block;
    color:#444444;
    padding-top:12px;
    padding-right:5px;
}

.forum-topic {
    border-top:2px solid #DDDDDD;
}

.forum-topics-topic-name img {
    width:16px;
    height:16px;
}