
html body {
	background:#FBFBFB;
	margin:0px;
}

.website {
	width:1000px;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:auto;
	margin-right:auto;
	background:white;
	margin-bottom:20px;
}

.header {
	padding:25px;
	color:white;
	font-size:xx-large;
}

.menu {
	padding-left:10px;
}

.menu-right {
	float:right;
}

.menu-item {
	display:inline-block;
	padding-left:15px;
	padding-right:15px;
	padding-top:12px;
	padding-bottom:12px;
	color:white;
	cursor:pointer;
}
/*
.menu-right .menu-item {
	background:#196988;

}*/

.menu-item a:link, .menu-item a:visited, .menu-item a {
	color:white;
	text-decoration:none;
}