.account-item {
    padding:20px;
    border-bottom:1px solid #CCCCCC;
}

.account-item h2 {
    font-size:large;
    margin:0px;
    margin-bottom:15px;
}

.account-menu {

}

.account-menu-item {
    display:inline-block;
    width:350px;
    padding:10px;
    font-size:large;
}

.account-item img {
    float:right;
    margin-left:15px;
    width:128px;
    height:128px;
}

.account-main {
    padding:30px;
}

.account-login .account-login-inner h2 {
    font-size:x-large;
    padding-bottom:7px;
    margin:0px;
    margin-bottom:25px;
    border-bottom:1px solid #CCCCCC
}

.account-login-signin, .account-login-signup {
    width:45%;
    display:inline-block;
    vertical-align:top;
    padding:20px;
    padding-top:0px;
}

.account-login-signin input.textfield, .account-login-signup input.textfield {
    width:65%;
}

.account-login-signin label, .account-login-signup label {
    width:30%;
}

.account-login div.captcha-wrap {
    width:65%;
    display:inline-block;
    text-align:left;
}