
.admin {

}

.admin-menu {
	background:#FAFAFA;
	margin-top:-10px;
	padding:5px;
	-webkit-box-shadow:0px 1px 1px #CCCCCC;
}

.admin-menu-inner {
	width:1000px;
	margin:auto;
	padding:5px;
}

.admin-menu-item {
	background:#FCFCFC;
	border:1px solid #E0E0E0;
	padding:10px;
	padding-left:15px;
	padding-right:15px;
	margin-right:5px;
	display:inline-block;
}

.admin-menu-item a:link, .admin-menu-item a:visited, .admin-menu-item a {
	color:black;
	text-decoration:none;
}