
.admin-entries-top {
	/*background:#F4F4F4;*/
    background:#3E5B75;
}

.admin-entries-top-inner {
	padding:30px;
}

.admin-entries-top-inner h2 {
	color:white;
	font-size:x-large;
	margin:0px;
	text-transform:uppercase;
    letter-spacing:2px;
}

.admin-entries-top-inner h2 a {
	font-size:small;
}

.admin-entries-top-inner a:link, .admin-entries-top-inner a, .admin-entries-top-inner a:visited {
    color:white;
}

.admin-entries-button {
	float:right;
    background:#FFBA4F;
	padding:7px;
	padding-left:10px;
	padding-right:10px;
	border:1px solid #BF8730;
	margin-top:-5px;
	color:white;
	text-shadow:0px 1px 1px #A66400;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	cursor:pointer;
    margin-left:10px;
}

.admin-entries-button:first-of-type {
    background:#FF9A00;
    cursor:pointer;
}

.admin-entries-button a:link, .admin-entries-button a:visited, .admin-entries-button a {
	color:white;
}

.admin-entry {
	padding:30px;
    padding-top:25px;
    padding-bottom:25px;
	border-bottom:1px solid #EEEEEE;
	font-size:large;
}

.admin-entry h2 {
    font-size:medium;
}

.admin-entry-inner {
}

.admin-entry img {
	width:24px;
	height:24px;
	vertical-align:middle;
	margin-right:5px;
}

.admin-entry-options {
	float:right;
}



.admin-entries-menu {
    background:#25435E;
}

.admin-entries-menu a, .admin-entries-menu a:visited, .admin-entries-menu a:link {
    color:white;
}

.admin-entries-menu-inner {
    padding-left:30px;
}

.admin-entries-menu-item:first-of-type {
	margin-left:-15px;
}

.admin-entries-menu-item {
	display:inline-block;
	color:#333333;
	padding:15px;
}

.admin-entries-header:first-of-type {
    background:#25435E;
    color:white;
	border-bottom:2px solid #DDDDDD;
}

.admin-entries-header {
    background:#EEEEEE;
    color:black;
    border-bottom:2px solid #DDDDDD;
}

.admin-entries-header-inner {
	padding:15px;
    padding-left:25px;
    padding-right:25px;
}

.admin-entries-header h2 {
	font-size:medium;
	margin:0px;
    font-weight:normal;
}

.admin-entries-header:first-of-type a:link, .admin-entries-header:first-of-type a:visited, .admin-entries-header:first-of-type a {
    color:white;
}

.admin-entries-header-button {
	float:right;
}

.admin-select-page-type h2 {
    font-size:large;

}

.admin-select-page-type .admin-entry {
    height:100px;
}

.admin-select-page-type img {
    width:80px;
    height:80px;
    float:left;
    margin-right:25px;
}