

.admin-person {
    background-position-x:center;
    background-position-y:center;
    background-size:125px;
    width:125px;
    height:125px;
    display:inline-block;
}

.admin-person-details {
    background:#555555;
    opacity:0.8;
    color:white;
    padding:8px;
    margin-top:91px;
}

.admin-person-header {
    background:#EEEEEE;
    border-bottom:2px solid #DDDDDD;
    padding:10px;
}

.admin-person-header-inner {
    width:1000px;
    margin:auto;
}

.admin-person-header-avatar {
    float:right;
    border:1px solid #DDDDDD;
    margin-top:-10px;
}

.admin-person-header-text h1 {
    font-size:x-large;
    margin:0px;
    margin-top:25px;
    margin-bottom:25px;
}

.admin-person-header-option {
    background-color:#FAFAFA;
    border:1px solid #DDDDDD;
    display:inline-block;
    width:125px;
    height:125px;
    margin-right:6px;
	background-repeat:no-repeat;
	background-position-x:center;
	background-position-y:17px;
	background-size:64px 64px;
}

.admin-person-header-option-inner {
    padding-top:93px;
    text-align:center;
}

.admin-person-header a:link, .admin-person-header a:visited, .admin-person-header a {
	color:black;
}

.admin-person-header-option-dashboard {
	background-image:url(/Images/Flat/IconFinder/Question.png);
}

.admin-person-header-option-profile {
	background-image:url(/Images/Flat/IconFinder/Person.png);
}

.admin-person-header-option-statistics {
	background-image:url(/Images/Flat/IconFinder/PersonStats.png);
}

.admin-person-header-option-contact {
	background-image:url(/Images/Flat/IconFinder/Email.png);
}

.admin-person-header-option-suspend {
	background-image:url(/Images/Flat/IconFinder/Suspend.png);
}

.admin-person-header-option-ban {
	background-image:url(/Images/Flat/IconFinder/Delete.png);
}