
.adminbar {
	background:#FEFEFE;
	border-bottom:1px solid #F0F0F0;
	margin-bottom:10px;
	padding:10px;
	padding-top:12px;
	-webkit-box-shadow:0px 1px 1px #DDDDDD;
}

.adminbar-inner {
	width:1000px;
	margin:auto;
}

.adminbar-menu {
	float:right;
    margin-top:45px;
}

.adminbar-menu-item {
	display:inline-block;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
	padding-right:10px;
	vertical-align:middle;
	font-size:large;
}

.adminbar-menu-item-button {
	/*-webkit-box-shadow:0px 1px 1px #CCCCCC;*/
}

.adminbar-menu-item a:link, .adminbar-menu-item a:visited, .adminbar-menu-item a {
	color:#333333;
	text-decoration:none;
}

.adminbar-menu-item-button a:link, .adminbar-menu-item-button a:visited, .adminbar-menu-item-button a {
	color:#0776A0;
	text-decoration:none;
}

.adminbar-logo {
	padding:15px;
    padding-left:0px;
	font-weight:bold;
}

.adminbar-logo img {
	height:75px;
	width:287px;
}

.adminbar-logo {
    font-size:25px;
    text-shadow:0px 1px 0px #467B9C;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
}

.adminbar-logo a:link, .adminbar-logo a:visited, .adminbar-logo a {
    color:#5598c2;
    text-decoration:none;
}

html, body {
	height: 100%;
}

.wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -40px;
}

.admin-footer, .admin-footer-push {
	height:40px;
}

.admin-menu-form {
	padding:10px;
	color:white;
}

.admin-menu-form label {
	display:inline-block;
	width:100px;
}

.admin-menu-form input {
	width:875px;
	padding:5px;
}

.admin-footer {
	background:#F0F0F0;
}

.admin-footer-inner {
	width:1000px;
	margin:auto;
	padding-top:10px;
}