
.admin-pages {
	overflow:scroll;
	width:90%;
	margin:auto;
	margin-top:20px;
	margin-bottom:20px;
	height:600px;
	white-space:nowrap;
}

.admin-pages a:link, .admin-pages a:visited, .admin-pages a {
	color:black;
}

.admin-page {
	display:inline-block;
	width:241px;
    border:1px solid #EEEEEE;
	border-bottom-width:2px;
	margin-right:5px;
	vertical-align:top;
	margin-bottom:5px;
}

.admin-page-subs {
	height:250px;
	overflow:scroll;
}

.admin-page-index-add {
	height:auto;
}

.admin-page-item-top {
	background-repeat:no-repeat;
	background-position-x:center;
	background-position-y:35px;
	background-size:150px 150px;
    background-color:#FAFAFA;
	height:241px;
	border-bottom:2px solid #EEEEEE;
}

.admin-page-sub {
	background:#FEFEFE;
	background-size:24px 24px;
	background-position-x:10px;
	background-position-y:center;
	background-repeat:no-repeat;
	border-bottom:1px solid #EEEEEE;
	padding:20px;
	padding-left:45px;
}

.admin-page-sub-add {
	background-image:url(/Images/Flat/IconFinder/Add.png);
	border-top:1px solid #EEEEEE;
	background-color:#FAFAFA;
}

.admin-page-add {
    background-color:transparent;
	background-image:url(/Images/Flat/IconFinder/Add.png);
	border:none;
}

.admin-page-index-add {
	background-color:#FAFAFA;
}

.admin-page-name {
	padding-top:210px;
	text-align:center;
	font-size:large;
}

.admin-page-settings {
	width:1000px;
	margin:auto;
	padding-top:25px;
	padding-bottom:7px;
	color:white;
	text-shadow:0px 1px 1px #444444;
}

.admin-page-settings-outer {
	margin-top:0px;
	background:#56A6C5;
	border-bottom:2px solid #217596;
}

.admin-page-settings-bottom {
	background:#FAFAFA;
	border-top:1px solid #DDDDDD;
	border-bottom:1px solid #DDDDDD;
	height:10px;
}

.admin-page-handle-outer {
	width:1000px;
	margin:auto;
	margin-bottom:10px;
}

.admin-page-handle {
	background:#FAFAFA;
	padding:10px;
	padding-left:15px;
	padding-right:15px;
	display:inline-block;
	cursor:pointer;
	border:1px solid #DDDDDD;
	border-top:none;
	margin-top:-1px;
	-webkit-border-bottom-left-radius:7px;
	-webkit-border-bottom-right-radius:7px;
	-moz-border-radius-bottomleft:7px;
	-moz-border-radius-bottomright:7px;
}

.admin-page-settings input.submitbutton {
	background:#F5F5F5;
	border:1px solid #E0E0E0;
	display:none;
}

.admin-page-footer {
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	background:#FAFAFA;
	border-top:2px solid #DDDDDD;
	display:none;
}

.admin-page-footer-inner {
	width:1000px;
	margin:auto;
}

.admin-page-save-button {
	background:#CCCCCC;
	padding:10px;
	padding-left:15px;
	padding-right:15px;
	border:1px solid #EEEEEE;
	display:inline-block;
	color:white;
	margin:7px;
	text-shadow:1px 1px 1px #777777;
	cursor:pointer;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}

.admin-page-types {
	width:1000px;
	margin:auto;
	margin-top:30px;
	margin-bottom:30px;
}

.admin-page-type {
	width:150px;
	height:150px;
	background-repeat:no-repeat;
	background-position-x:center;
	background-position-y:15px;
	background-size:100px 100px;
	font-size:small;
	text-align:center;
	display:inline-block;
}

.admin-page-types a:link, .admin-page-types a:visited, .admin-page-types a {
	color:black;
	text-decoration:none;
}

.admin-page-type-text {
	padding-top:125px;
}

.admin-pagetype-form {
	width:1000px;
	margin:auto;
	margin-top:20px;
	margin-bottom:20px;
}