
/*
.admin {

}

.admin-menu {
	background:#2A70BE;
    border-bottom:2px solid #0756AF;
    border-top:1px solid #0756AF;
	margin-top:-10px;
    padding:0px;
}

.admin-menu-inner {
	width:1000px;
	margin:auto;
}

.admin-menu-item {
	border:1px solid #EBEBEB;
	padding:20px;
    padding-left:25px;
    padding-right:25px;
	margin-right:5px;
	display:inline-block;
    text-shadow:0px 2px 2px #217596;
    font-size:large;
    border-right:1px solid #0756AF;
	color:white;
}

.admin-menu a:link, .admin-menu a:visited, .admin-menu a {
	color:white;
	text-decoration:none;
}

.admin-menu-right {
	margin-top:9px;
	float:right;
}

.admin-menu-right .admin-menu-item {
	background:#0088CA;
	text-shadow:0px 1px 1px #3E7286;
	padding:10px;
	padding-left:15px;
	padding-right:15px;
	border:1px solid #467B9C;
	cursor:pointer;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}

.page-manager {
	width:1000px;
	margin:auto;
	background:#FAFAFA;
	margin-top:20px;
	padding:10px;
	border:1px solid #EEEEEE;
	-webkit-box-shadow:0px 3px 3px #F2F2F2;
}

.page-manager h1 {
	font-size:x-large;
	margin:0px;
	padding:0px;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:10px;
	border-bottom:1px solid #DDDDDD;
}

.page-manager-category {
	background:#F2F2F2;
	border:1px solid #DDDDDD;
	padding:15px;
	margin-top:10px;
	margin-bottom:10px;
}

.page-manager-category-notice {
	text-align:center;
}

.page-manager-form {
	margin-top:20px;
	margin-bottom:20px;
}

.page-manager-button {
	float:right;
	padding:10px;
	padding-left:15px;
	padding-right:15px;
	margin-top:10px;
}
*/