
body, html, .wrap {
	height:100%;
}

.adminbar {
    background:#222222;
    border-bottom:2px solid #444444;
    /*background:#111111;
    border-bottom:2px solid #222222;*/
}

.adminbar-inner {
    margin-left:30px;
}

.adminbar-logo {
    padding:2px;
}

.adminbar img {
    width:32px;
    height:32px;
}

.adminbar-menu {

}

.adminbar-menu-item {
    display:inline-block;
    padding:7px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    font-size:small;
    vertical-align:middle;
    /*text-shadow:1px 1px 1px #0756AF;*/
}

.adminbar-menu-items {
}

.adminbar-menu-info {
    padding-top:13px;
    padding-bottom:13px;
    text-align:right;
    color:white;
    padding-right:30px;
    font-size:small;
}

.adminbar-menu-item a:link, .adminbar-menu-item a:visited, .adminbar-menu-item a {
    color:white;
    padding:10px;
}

.adminbar-menu-item.selected {
    /*background:#0756AF;*/
    background:#333333;
}

.adminbar-search {
    float:right;
    padding-right:20px;
    padding-top:7px;
}

.adminbar-search input {
    background:none;
    border:none;
    color:white;
    padding:9px;
    padding-left:20px;
    padding-right:20px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    padding-right:30px;
}

.adminbar-search input:focus {
    background:#0756AF;
    outline:none;
}

.adminbar-search img {
    width:14px;
    height:14px;
    position:relative;
    top:1px;
    left:-33px;
}





body table.admin-table {
	width:100%;
    height:100%;
	border-spacing:0px;
}

.admin-table > tbody > tr > td {
	vertical-align:top;
	border-spacing:0px;
    height:100%;
    padding:0px;
}

.admin-sidebar, .admin-sidebar-footer {
	width:200px;
	background:#0E74E6;
	border-right:1px solid #0756AF;
}

.admin-sidebar-item {
	border-bottom:1px solid #0756AF;
    font-size:small;
    padding:15px;
}

.admin-sidebar-item a:link, .admin-sidebar-item a:visited, .admin-sidebar-item a {
	color:#B9D8FA;
}

.admin-sidebar-subs .admin-sidebar-item:last-of-type {
	padding-bottom:15px;
}

.admin-sidebar-wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -40px;
}

.admin-sidebar-push, .admin-sidebar-footer {
	height:40px;
}

.admin-sidebar-copyright {
    text-align:center;
    color:#B9D8FA;
    font-size:x-small;
    margin-bottom:10px;
}

.admin-sidebar-copyright a:link, .admin-sidebar-copyright a:visited, .admin-sidebar-copyright a {
    color:#B9D8FA;
}

.admin-sidebar-search {
    color:white;
    padding:10px;
    border-top:1px solid #0756AF;
    cursor:pointer;
}

.admin-sidebar-search-text {
    font-size:large;
    padding:3px;
}

.admin-sidebar-search-icon {
    float:right;
    background-size:24px 24px;
    background-image:url(Images/Black/IconFinder/SearchWhite.png);
    width:24px;
    height:24px;
}

.admin-search {
    position:absolute;
    left:200px;
    top:0;
    right:0;
    bottom:0;
    background:white;
    display:none;
}*/