
.admin-people {
	width:1000px;
	margin:auto;
	margin-top:20px;
	margin-bottom:20px;
}

.admin-person {
    background-position-x:center;
    background-position-y:center;
    background-size:125px;
    width:125px;
    height:125px;
    display:inline-block;
}

.admin-person-details {
    background:#555555;
    opacity:0.8;
    color:white;
    padding:8px;
    margin-top:91px;
}

.admin-person-header {
    background:#EEEEEE;
    border-bottom:2px solid #DDDDDD;
    padding:10px;
}

.admin-person-header-inner {
    width:1000px;
    margin:auto;
}

.admin-person-header-avatar {
    float:right;
    border:1px solid #DDDDDD;
    margin-top:-10px;
}

.admin-person-header-text h1 {
    font-size:x-large;
    margin:0px;
    margin-top:25px;
    margin-bottom:25px;
}

.admin-person-header-option {
    background-color:#FAFAFA;
    border:1px solid #DDDDDD;
    display:inline-block;
    width:125px;
    height:125px;
    margin-right:6px;
	background-repeat:no-repeat;
	background-position-x:center;
	background-position-y:17px;
	background-size:64px 64px;
}

.admin-person-header-option-inner {
    padding-top:93px;
    text-align:center;
}

.admin-person-header a:link, .admin-person-header a:visited, .admin-person-header a {
	font-size:small;
	text-transform:uppercase;
}

.admin-person-header .admin-person-header-options a:link, .admin-person-header .admin-person-header-options a:visited, .admin-person-header .admin-person-header-options a {
	color:black;
	text-transform:none;
	font-size:medium;
}

.admin-person-header-option-dashboard {
	background-image:url(Images/Flat/IconFinder/Question.png);
}

.admin-person-header-option-profile {
	background-image:url(Images/Flat/IconFinder/Person.png);
}

.admin-person-header-option-statistics {
	background-image:url(Images/Flat/IconFinder/PersonStats.png);
}

.admin-person-header-option-contact {
	background-image:url(Images/Flat/IconFinder/Email.png);
}

.admin-person-header-option-suspend {
	background-image:url(Images/Flat/IconFinder/Suspend.png);
}

.admin-person-header-option-ban {
	background-image:url(Images/Flat/IconFinder/Delete.png);
}

.admin-person-main {

}

.admin-person-main-item {
	padding:20px;
	border-bottom:1px solid #DDDDDD;
}

.admin-person-main-item-inner {
	width:1000px;
	margin:auto;
}

.admin-person-main-item h2 {
	font-size:medium;
	margin:0px;
	line-height:1.5em;
}

.admin-person-main-item-right {
	float:right;
	margin-top:3px;
}

.admin-person-main-text {
	padding-top:20px;
	padding-bottom:20px;
}

.admin-person-main-text table {
	width:100%;
	background:#CCCCCC;
	border-spacing:1px;
}

.admin-person-main-text table th {
	background:#F0F0F0;
	color:black;
	padding:7px;
	text-align:left;
}

.admin-person-main-text table td {
	padding:10px;
	background:white;
}

.admin-entry-column-smaller {
	height:50px;
	display:inline-block;
	width:332px;
	padding-top:10px;
	padding-bottom:10px;
}

.admin-entry-column-smaller img {
	width:48px;
	height:48px;
	float:left;
	margin-right:10px;
}

.admin-entry-column-smaller.assigned a:link, .admin-entry-column-smaller.assigned a:visited, .admin-entry-column-smaller.assigned a {
	color:black;
}

.admin-entry-column-smaller.unassigned a:link, .admin-entry-column-smaller.unassigned a:visited, .admin-entry-column-smaller.unassigned a {
	color:#CCCCCC;
}

.admin-entry-column-smaller.assigned h2 {
	color:black;
}

.admin-entry-column-smaller.unassigned h2 {
	color:#AAAAAA;
}

div.admin-entry-column-smaller a:link, div.admin-entry-column-smaller a:visited, div.admin-entry-column-smaller a {
    color:black;
}