
body, html, .wrap {
	height:100%;
}

body table.admin-table {
	width:100%;
	min-height:100%;
	border-spacing:0px;
}

.admin-table td {
	vertical-align:top;
	border-spacing:0px;
}

.admin-sidebar {
	width:200px;
	background:#0E74E6;
	border-right:1px solid #0756AF;
}

.admin-sidebar-logo {
	text-align:center;
	padding-top:15px;
	padding-bottom:15px;
}

.admin-sidebar-logo img {
	width:128px;
	height:128px;
}

.admin-sidebar-item, .admin-sidebar-logo {
	border-bottom:1px solid #0756AF;
}

.admin-sidebar-item {
	padding:15px;
	padding-left:15px;
}

.admin-sidebar-item a:link, .admin-sidebar-item a:visited, .admin-sidebar-item a {
	color:#B9D8FA;
}

.admin-sidebar-item.selected {
	background:#0756AF;
}

.admin-sidebar-subs {
	background:#0756AF;
}

.admin-sidebar-subs .admin-sidebar-item {
	background:#0756AF;
	font-size:small;
	padding:5px;
	padding-left:25px;
}

.admin-sidebar-subs .admin-sidebar-item:last-of-type {
	padding-bottom:15px;
}

.admin-sidebar-wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -40px;
}

.admin-sidebar-push, .admin-sidebar-footer {
	height:40px;
}


/*
.adminbar {
	background:#0E74E6;
	margin-bottom:10px;
	padding:10px;
	-webkit-box-shadow:0px 1px 1px #DDDDDD;
}

.adminbar-inner {
	width:1000px;
	margin:auto;
}

.adminbar-menu {
	float:right;
    margin-top:40px;
}

.adminbar-menu-item {
	display:inline-block;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
	padding-right:10px;
	vertical-align:middle;
	font-size:large;
}

.adminbar-menu-item a:link, .adminbar-menu-item a:visited, .adminbar-menu-item a {
	color:white;
	text-decoration:none;
}

.adminbar-menu-item-button a:link, .adminbar-menu-item-button a:visited, .adminbar-menu-item-button a {
	color:white;
	font-weight:bold;
}

.adminbar-logo {
	padding:15px;
	padding-top:10px;
    padding-left:20px;
	font-weight:bold;
	color:black;
	font-size:25px;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}

.adminbar-logo img {
	height:75px;
	width:287px;
}

.adminbar-logo a:link, .adminbar-logo a:visited, .adminbar-logo a {
    color:black;
    text-decoration:none;
}

.adminbar-logo a:link, .adminbar-logo a:visited, .adminbar-logo a {
    color:#5598c2;
    text-decoration:none;
}

html, body {
	height: 100%;
}

.wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -40px;
}

.admin-footer, .admin-footer-push {
	height:40px;
}

.admin-menu-form {
	padding:10px;
	color:white;
}

.admin-menu-form label {
	display:inline-block;
	width:100px;
}

.admin-menu-form input {
	width:875px;
	padding:5px;
}

.admin-footer {
	background:#F0F0F0;
}

.admin-footer-inner {
	width:1000px;
	margin:auto;
	padding-top:10px;
}
*/