
.formitem {
	margin-bottom:20px;
	text-align:center;
}

form label {
	width:20%;
	display:inline-block;
	text-align:left;
	vertical-align:top;
	padding-top:10px;
}

label {
	width:20%;
	display:inline-block;
}

input.textfield {
	width:75%;
	padding:5px;
	font-size:large;
	-webkit-box-shadow:0px 1px 1px #BBBBBB inset;
	-moz-box-shadow:0px 1px 1px #BBBBBB inset;
	-webkit-appearance:none;
	border:1px solid #BBBBBB;
}

input.submitbutton {
	padding:10px;
	padding-left:20px;
	padding-right:20px;
	background:#EEEEEE;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	border:none;
	outline:none;
	-webkit-appearance: none;
	-moz-appearance: none;
	display:inline-block;
	margin:auto;
	margin-top:20px;
	width:200px;
	cursor:pointer;
    border:1px solid #DDDDDD;
}

.checkboxfield > div {
	width:75%;
	text-align:left;
}

input.checkboxfield {
	vertical-align:middle;
}

.listboxwrap {
	width:74%;
	display:inline-block;
	background:white;
	border:1px solid #BBBBBB;
	padding:5px;
	-webkit-box-shadow:0px 1px 1px #BBBBBB inset;
	-moz-box-shadow:0px 1px 1px #BBBBBB inset;
	text-align:left;
}

.listboxmain > div {
	padding:5px;
}

.listboxmain label {
	width:80%;
	vertical-align:middle;
}

.listboxmain input {
	vertical-align:middle;
}

input.submitbutton:hover {
	background:#E0E0E0;
}

div.selectbox {
	width:75%;
	display:inline-block;
	vertical-align:middle;
	text-align:left;
}

div.selectbox select {

}

.formitem input[type=file] {
    width:75%;
}