
.page {
	background:white;
	padding:20px;
	padding-top:5px;
	padding-bottom:5px;
	line-height:1.5em;
}

.page h1 {
	font-size:x-large;
	padding-bottom:10px;
	padding-top:10px;
	border-bottom:1px solid #DDDDDD;
	margin:0px;
	margin-bottom:5px;
}

.page h2 {
	font-size:large;
	margin:0px;
	margin-top:5px;
	margin-bottom:5px;
}
